[package]
name = "zedra-git"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
anyhow.workspace = true
log.workspace = true

[dev-dependencies]
tempfile = "3"
serde_json.workspace = true
